@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #171717;
  --color-ods1: #E5243B;
  --color-ods2: #DDA63A;
  --color-ods3: #4C9F38;
  --color-ods4: #C5192D;
  --color-ods5: #FF3A21;
  --color-ods6: #26BDE2;
  --color-ods7: #FCC30B;
  --color-ods8: #A21942;
  --color-ods9: #FD6925;
  --color-ods10: #DD1367;
  --color-ods11: #FD9D24;
  --color-ods12: #BF8B2E;
  --color-ods13: #3F7E44;
  --color-ods14: #0A97D9;
  --color-ods15: #56C02B;
  --color-ods16: #00689D;
  --color-ods17: #19486A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #013544;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

  #svg2 {
    fill-rule:evenodd;
    image-rendering:optimizeQuality;
    shape-rendering:geometricPrecision;
    text-rendering:geometricPrecision;
  }
  #svg2 path {
    fill:#cccccc;
    stroke:#ffffff;
    stroke-width:282.237;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    transition: all .5s;
    position: relative;
  }

  .pin {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #svg2 path.active {
    fill:#b6b6b6;
  }